{
  "presets": [["@babel/preset-env"], "@babel/preset-react"],
  "plugins": [
      "@babel/plugin-syntax-dynamic-import",
      "@babel/plugin-transform-runtime",
      "@babel/plugin-syntax-import-meta",
      "@babel/plugin-proposal-export-namespace-from",
      [
          "@babel/plugin-proposal-decorators",
          {
              "legacy": true
          }
      ],
      [
          "@babel/plugin-proposal-class-properties",
          {
              "loose": true
          }
      ],
      "@babel/plugin-proposal-json-strings",
      "@babel/plugin-transform-modules-commonjs",
      "@babel/plugin-syntax-optional-chaining",
      "@babel/plugin-proposal-optional-chaining"
  ],
  "env": {
      "test": {
          "presets": ["@babel/preset-env"],
          "plugins": ["dynamic-import-node"]
      },
      "development": {
          "plugins": ["react-hot-loader/babel"]
      }
  }
}
