.left-feature-container {
  position: fixed;
  top: 55px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .icon-wrap {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.icon-wrap {
  width: 20px;
  height: 30px;
  margin-bottom: 10px;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  img {
    width: 100%;
  }

  &.active {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.eraser {
  width: 24px;
  border-radius: 2px;
  height: 24px;
  transform: all, 0.3s;
  text-align: center;

  img {
    width: 20px;
    vertical-align: middle;
  }
}
