@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadein {
  animation-name: fadeIn;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    height: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    height: auto;
  }
}

.slideindown {
  animation-name: slideInDown;
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
    height: auto;
  }

  to {
    height: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.slideoutup {
  animation-name: slideOutUp;
}

@keyframes backInUp {
  0% {
    transform: translateY(1200px);
  }

  100% {
    transform: translateY(0px);
  }
}
.backInUp {
  animation-name: backInUp;
}

.animated {
  animation-duration: 0.3s;
  animation-fill-mode: both;
}

.icon-wrap {
  width: 20px;
  height: 30px;
  margin-bottom: 10px;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  img {
    width: 100%;
  }

  &.active {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  &:last-child {
    margin-bottom: 0;
  }
}
