.home-container {
  display: flex;
  justify-content: center;
  user-select: none;
  flex-direction: column;
  align-items: center;
}

.footer {
  line-height: 50px;
  background-color: #eeeeee;
  width: 100%;
  text-align: center;
}
