@import '~@style/common.scss';
.modal-container {
  z-index: 1040;
  display: flex;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: 0.5;
}

.modal-content {
  position: relative;
  padding: 30px;
  border-radius: 2px;
  background: #ffffff;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.modal-close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 25px;
  text-align: center;
  line-height: 25px;
}
