.right-feature {
  position: fixed;
  right: 10px;
  top: 100px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}
